body{
    background-color:#205c1d;
}

*{
    color:rgb(220,255,220);
}
#links{
    display:inline-flex;
    width:33%;
    flex-direction: row;
    margin-left: 30%;
    flex-wrap: nowrap;
    align-items:baseline;
    column-gap: 3%; 
}

.icona{
    position:absolute;
    width:5%;
    height: 11%;
    top:0%;
    left:16%;
}

a:link{
    font-weight: bold;
    text-decoration: none;
}

*[inline]{
    display: inline;
}
#titol{
    font-size: 3.5em;
    font-family:Impact;
    padding-left: 2%;
}

#subtitol{
    margin-left:7em;
    font-size:2em;
}

div[w80]
{
    width:80%;
}
div[auto]
{
    height:auto;
}

.cont{
    padding-left: 10%;
    padding-top:2%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    column-gap: 2%;
}

.imag{
   width:100%;
}

h2,h3{
    text-align: center;
}
p,#llista{
    font-size: 1.2em;
}
#descripcio{
    width:65%;
    padding-left: 7.5%;
}

div[w30]
{
    width:30%;
}

#foto1{
    display:flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}
.mosaic{
    width:49%;
    height: 49%;
}
#servs{
    width:61%;
    border:2px solid rgb(200,255,200);
}

#llista{
    line-height: 250%;
    font-size:1.5em;
}
footer {
    position:absolute;
    margin-top:5%;
    height: 10%;
    padding-left: 30%;
}
