body{
    background-color:#205c1d;
    background-image: url('../full-bloom/full-bloom.png');
    overflow-x: hidden;
    overflow-y: hidden;
}

.icona > img{
    width:45%;
    height: auto;
}

.icona{
    display:block;
    position:absolute;
    top:0%;
    left:16%;
}

#titol{
    display: inline;
    font-size: 3.5em;
    font-family:Impact;
    padding-left: 2%;
    color:rgb(200,255,200);
}

#ficus{
    display:block;
    object-fit: cover;
    width:31%;
    margin:auto;
}

div[rotlink="1"]{
    text-align: center;  
}
a{
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}
#plantes{
    transform: rotate(55deg) translateX(-40%) translateY(-60%);
    padding-bottom: 19.5%;
    padding-right: 3%;
}

#serveis{
    transform: rotate(-11deg) translateX(22%) translateY(-104%);
    padding-bottom:47%;
}

#fitosanitaris{
    transform: rotate(19deg) translateX(-53.3%) translateY(-102%);
    padding-bottom:84.5%;
}

#contacte{
    transform: rotate(1deg) translateX(-11.5%) translateY(-173%);
    padding-bottom:100%;
    z-index:1;
}

#empresa{
    transform: rotate(-3deg) translateX(45%) translateY(-275%);
    padding-bottom:100%;
    position: absolute;
    left: 69%;
}

a:link{
    color:rgb(220,255,220);
    font-weight: bold;
    text-decoration: none;
    font-size:1.4em;
    z-index: 1;
}
a:visited{
    color:rgb(220,255,220);
}

div[decor]{
    display:block;
    position:absolute;
    width:25%;
    height: 50%;
    /*opacity: 30%;*/
}

.foto1{
    top:30%;
    left:5%;
}

.foto2{
    top:30%;
    left:70%;
}
.foto1 > img,.foto2 > img{
    width:100%;
}

.foto3,.foto4,.foto5,.foto6{
    width:10%;
    height: 10%;
}
.foto3{
    top:6%;
    left:22%;
}
.foto4{
    top:6%;
    left:63%;
}
.foto5{
    top:74%;
    left:22%;
}
.foto6{
    top:74%;
    left:63%;
}

