body{
    background-color:#205c1d;
}

#links{
    display:inline-flex;
    width:33%;
    flex-direction: row;
    margin-left: 30%;
    flex-wrap: nowrap;
    align-items:baseline;
    column-gap: 3%;
    color:rgb(220,255,220);
}

.icona{
    display:block;
    position:absolute;
    width:5%;
    height: 11%;
    top:0%;
    left:16%;
}

a:link{
    color:rgb(220,255,220);
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}
a:visited{
    color:rgb(220,255,220);
}

#titol{
    display: inline;
    font-size: 3.5em;
    font-family:Impact;
    text-align: left;
    padding-left: 2%;
    color:rgb(200,255,200);
}

#subtitol{
    display: inline;
    margin-left:7em;
    color:rgb(220,255,220);
    font-size:2em;
}

.cont{
    padding-left: 10%;
    padding-top:2%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:80%;
    height:auto;
    justify-content: center;
    row-gap: 10px;
    column-gap: 2%;
}
#fotocap{
    width:80%;
    object-fit:cover;
}
.imag{
    width:100%;
    height: auto;
}
h2,h3{
    color:rgb(200,255,200);
    text-align: center;
}
p,#llista{
    color:rgb(200,255,200);
    font-size: 1.2em;
}
#descripcio{
    width:65%;
    padding-left: 7.5%;
}
#foto1{
    display:flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    width:30%;
}
.mosaic{
    width:49%;
    height: 49%;
}
#servs{
    width:61%;
    border:2px solid;
    border-color:rgb(200,255,200);
}
#foto2{
    width:30%;
}
#foto3{
    width:30%;
}
#foto4{
    width:30%;
}
#llista{
    line-height: 250%;
    font-size:1.5em;
}
footer {
    position:absolute;
    margin-top:5%;
    height: 10%;
    padding-left: 30%;
}
