body{
    background-color:#205c1d;
    background-image: url('../full-bloom/full-bloom.png');
    overflow-x: hidden;
    overflow-y: hidden;
}
.areafons{
    height: 50%;
}

div{
    display:block;
}

#ficus{
    display:block;
    object-fit: cover;
    width:40%;
    margin:auto;
}

#titol{
    font-size: 3.5em;
    font-family:Impact;
    text-align: left;
    padding-left: 2%;
    color:rgb(200,255,200);
    display: inline;
}

#plantes{
    transform: rotate(58deg) translateX(-40%) translateY(-40%);
    text-align: center;
    padding-bottom: 19.5%;
    padding-right: 3%;
    
}

#serveis{
    transform: rotate(-11deg) translateX(19%) translateY(-100%);
    text-align: center;
    padding-bottom:47%;
}

#fitosanitaris{
    transform: rotate(19deg) translateX(-54%) translateY(-100%);
    text-align: center;
    padding-bottom:84.5%;
}

#contacte{
    transform: rotate(1deg) translateX(-11.5%) translateY(-171%);
    text-align: center;
    padding-bottom:100%;

}
#empresa{
    transform: rotate(-3deg) translateX(23%) translateY(-275%);
    text-align: center;
    padding-bottom:100%;
}

a:link{
    color:rgb(220,255,220);
    font-weight: bold;
    text-decoration: none;
    font-size:23px;
    z-index: 1;
}
a:visited{
    color:rgb(220,255,220);
}


/* Per a Venda.html */
.Plantes{
    margin-left:15%;
    margin-top:100px;
    display:grid;
    align-items: center;
    width:100%;
    grid-template-columns:17% 17% 17% 17%;
    grid-template-rows:35% 35%;
    column-gap: 1%;
    row-gap: 5%;
    grid-template-areas:
    "roses orquidies clavells hortensies"
    "cactus arbres horticoles arbustos"
}

.Roses{
    grid-area:roses;
}

.Orquidies{
    grid-area:orquidies;
}
.Clavells{
    grid-area:clavells;
}
.Hortensies{
    grid-area:hortensies;
}
.Cactus{
    grid-area:cactus;
}
.Arbres{
    grid-area:arbres;
}
.Horticoles{
    grid-area:horticoles;
}
.Arbustos{
    grid-area:arbustos;
}

.Plantes > *
{
    object-fit: cover;
    display:block;
    transition-property: width;
    transition-property:all;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier();
}

.Plantes > :hover{
    border:5px solid;
    border-color:green;
    width: 150%;
    z-index: 1;
    transform:skew(30deg,-10deg);
}
.Plantes > :active{
    border:15px solid;
    border-color:red;
    width: 200%;
    z-index: 1;
    transform:skew(30deg,-20deg);
}

label{
    display:block;
    font-size:2em;
    color:rgb(220,255,220);
    text-align: center;
}

img{
    width:100%;
    height: auto;
}

#home{
    color:rgb(220,255,220);
    display:inline;
    padding-left: 60%;
    font-size:23px;
}
#subtitol{
    display:inline;
    margin-left:2em;
    color:rgb(220,255,220);
}


