body{
    background-color:#205c1d;
    overflow-x: hidden;
}
label,.icona,.Plantes > *{
    display: block;
}
h1,h2,a{
    display:inline;
}
.icona,footer{
    position:absolute;
}

.icona{
    width:5%;
    height: 11%;
    top:0%;
    left:16%;
}

*{
    color:rgb(200,255,200);
}

#titol{    
    font-size: 3.5em;
    font-family:Impact;
    padding-left: 2%;
}

#subtitol{    
    margin-left:7em;
    font-size:2em;
}

#links{
    display:inline-flex;
    width:28%;
    flex-direction: row;
    margin-left: 27%;
    flex-wrap: nowrap;
    align-items:baseline;
    column-gap: 3%;
    font-size: 1em;
    font-weight: bold;
}
a{
    text-decoration: none;
}

.Plantes{
    margin-left:15%;
    margin-top:100px;
    display:grid;
    align-items: center;
    width:100%;
    grid-template-columns:17% 17% 17% 17%;
    grid-template-rows:35% 35%;
    column-gap: 1%;
    row-gap: 5%;
    grid-template-areas:
    "roses orquidies clavells hortensies"
    "cactus arbres horticoles arbustos"
}

.Roses{
    grid-area:roses;
}

.Orquidies{
    grid-area:orquidies;
}
.Clavells{
    grid-area:clavells;
}
.Hortensies{
    grid-area:hortensies;
}
.Cactus{
    grid-area:cactus;
}
.Arbres{
    grid-area:arbres;
}
.Horticoles{
    grid-area:horticoles;
}
.Arbustos{
    grid-area:arbustos;
}

.Plantes > *
{
    object-fit: cover;
    transition-property: width;
    transition-property:all;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier();
}

.Plantes > :hover{
    border:5px solid;
    border-color:green;
    width: 150%;
    z-index: 1;
    transform:skew(30deg,-10deg);
}
.Plantes > :active{
    border:15px solid;
    border-color:red;
    width: 200%;
    z-index: 1;
    transform:skew(30deg,-20deg);
}

label{
    font-size:2em;
    text-align: center;
}

img{
    width:100%;
    height: auto;
}

footer {
    margin-top:5%;
    height: 10%;
    padding-left: 30%;
}
